.form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1000; /* Ensure it's above other content */
}

.form-content {
  background-color: white;
  width: 95vw;
  height: 100%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}


/* .Form {
    position: static;
    overflow: auto; 
    isolation: isolate; 
    scrollbar-color: black;
    height: 100%;
} */

/* .Form:before {
  content:'';
  position: absolute;
  background-image: url('../pictures/headTouch.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode:screen;
  background-attachment: fixed;
  opacity: .5;
  height: 75%;
  width: 100vw;
  z-index: -1;
  scrollbar-color: black;
} */

.form-welcomeMessage {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: black;
    width: 80%;
    margin-top: 4vh;
    margin-bottom: 4vh;
    background-color: rgba(235, 8, 8, 0.5);
    border-radius: 15px 0px 15px 0px;
    font-family: 'Alegreya SC',Georgia,"Times New Roman",serif;
    padding: 5px;
    max-width: 60vw;
    border: 2px solid black;
    text-align: center;
}

.form-fileInputFormat {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: black;
    width: 80%;
    margin-top: 4vh;
    margin-bottom: 4vh;
    background-color: rgba(235, 8, 8, 0.5);
    border-radius: 15px 0px 15px 0px;
    font-family: 'Alegreya SC',Georgia,"Times New Roman",serif;
    padding: 5px;
    max-width: 350px;
    border: 2px solid black;
    text-align: center;   
}

.form-TestInput {
    padding: 10px;
    background-color: whitesmoke;
    color: black;
    margin-top: 1vh;
    margin-bottom: 1vh;
    text-align: center;
    background-color: rgba(71, 107, 57, 0.493);
    font-family: 'Alegreya SC', Georgia, "Times New Roman", serif;
 
}

.form-addButton {
    padding:  5px;
    font-size: 80%;
    padding: 10px; 
    background-color: whitesmoke;
    color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh;
    margin-bottom: 1vh;
    text-align: center;
    background-color: rgba(71, 107, 57, 0.493);
    font-family: 'Alegreya SC',Georgia,"Times New Roman",serif;
}

.form-button {
    float: right;
}

.form-deleteButton {
    padding: 4px;
    width: auto; /* or a percentage like 50% for responsiveness */
    height: auto;
    font-size: 80%;
    background-color: whitesmoke;
    color: black;
    background-color: rgba(71, 107, 57, 0.493);
    font-family: 'Alegreya SC',Georgia,"Times New Roman",serif;
    }



.form-name {
    display: flex;
    justify-content: left; /* Centers horizontally */
    align-items: left;    /* Centers vertically */
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    align-items: center; /* Vertically centers the items */
    gap: 10px; /* Adds space between the input and button */
}

.form-nameInput {
    padding-left: 5px;
    width: auto;
    display: flex;
    justify-content: left; /* Centers horizontally */
    align-items: left;    /* Centers vertically */
    display: flex;
    align-items: center; /* Vertically centers the items */
    gap: 10px; /* Adds space between the input and button */
}

.form-PhoneNumber {
    width: auto;
    display: flex;
    justify-content: left; /* Centers horizontally */
    align-items: left;    /* Centers vertically */
    padding-left: 5px;
    display: flex;
    align-items: center; /* Vertically centers the items */
    gap: 10px; /* Adds space between the input and button */
}

.form-email {
    width: auto;
    display: flex;
    justify-content: left; /* Centers horizontally */
    align-items: left;    /* Centers vertically */
    padding-left: 5px;
    display: flex;
    align-items: center; /* Vertically centers the items */
    gap: 10px; /* Adds space between the input and button */
}