.BackGround {
      position: static; /* Essential for positioning the pseudo-element */
      width: 100vw;
      height: 100vh; /* Or whatever dimensions you need */
      overflow: auto; /* To prevent the pseudo-element from overflowing if it has a larger size */
      isolation: isolate; /* Creates a new stacking context for proper layering */
      scrollbar-color: black;
    }


.BackGround::before {
  content:'';
  position: absolute;
  background-image: url('../pictures/greeneVille.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode:screen;
  background-attachment: fixed;
  opacity: .5;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  scrollbar-color: black;
}

.intro {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: black;
    width: 80%;
    margin-top: 4vh;
    margin-bottom: 4vh;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 15px 0px 15px 0px;
    font-family: 'Alegreya SC',Georgia,"Times New Roman",serif;
    padding: 5px;
    max-width: 1080px;

    /* font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif; */
        /* -webkit-box-orient: horizontal;
    -webkit-box-direction: normal; */
    /* flex-flow: row; */
    /* display: flex; */
        /* text-align: left; */

    
}


