/* App.css or a separate CSS file */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's above other content */
}

.popup-content {
  background-color: white;

  height: 20vh;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.popup-content-pw {
  background-color: white;
  width: 80vw;
  height: 80vh;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.popup-overlay-button {
    position: fixed;
    float: right;
    padding: 6px;
    width: auto; /* or a percentage like 50% for responsiveness */
    height: auto;
    font-size: 80%;
    color: black;
    /* background-color: rgba(216, 19, 19, 0.493); */
    font-family: 'Alegreya SC',Georgia,"Times New Roman",serif;
}